body {
    width: 100%;
    height: 100%;
}

#sidebar {
    background-color: burlywood;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 25%;
    height: 100%;
    padding-bottom: 75%;
}

iframe {
    position: relative;
    border: black;
    width: 95%;
    height: 25%;
    float: clear;
}