body {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: none;
}

#sidebar {
    background-color: black;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 100%;
    padding-bottom: 75%;
}

iframe {
    position: relative;
    border: black;
    width: 95%;
    height: 25%;
    left: 0%;
    float: clear;
}

.card {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: gray;
    width: 8%;
    height: 24%;
    border-radius: 15%;
    transition: 0.5s;
}

.topLeftPlayArea {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 35%;
    height: 33%;
    border: 2px black;
    background-size: 100% 100%;
    background-image: url("blue.png");
}

.topRightPlayArea {
    position: fixed;
    top: 0%;
    left: 35%;
    width: 35%;
    height: 33%;
    border: 2px black;
    background-size: 100% 100%;
    background-image: url("blue.png");
}

.bottomLeftPlayArea {
    position: fixed;
    top: 33%;
    left: 0%;
    width: 35%;
    height: 33%;
    border: 2px black;
    background-size: 100% 100%;
    background-image: url("greenPlay.png");
}

.bottomRightPlayArea {
    position: fixed;
    top: 33%;
    left: 35%;
    width: 35%;
    height: 33%;
    border: 2px black;
    background-size: 100% 100%;
    background-image: url("blue.png");
}

.playerHandArea {
    position: fixed;
    top: 66%;
    left: 0%;
    width: 48%;
    height: 34%;
    border: 2px black;
    background-size: 100% 100%;
    background-image: url("greenHand.png");
}

.deckArea {
    position: fixed;
    top: 66%;
    left: 48%;
    width: 22%;
    height: 34%;
    border: 2px black;
    background-size: 100% 100%;
    background-image: url("gold.png");
}


