body {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: none;
}

#sidebar {
    background-color: black;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 100%;
    padding-bottom: 75%;
}

iframe {
    position: relative;
    border: black;
    width: 100%;
    height: 25%;
    left: 2%;
    float: clear;
}

.card {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: gray;
    width: 8%;
    height: 24%;
    border-radius: 15%;
    transition: 0.5s;
}

.topLeftPlayArea {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 35%;
    height: 33%;
    border-style: inset;
    border: 5px gray;
    border-radius: 15% 0%;
    background-color: #ffff99;
}

.topRightPlayArea {
    position: fixed;
    top: 0%;
    left: 35%;
    width: 35%;
    height: 33%;
    border-style: inset;
    border: 5px gray;
    border-radius: 15% 0%;
    background-color: #ff6633;
}

.bottomLeftPlayArea {
    position: fixed;
    top: 33%;
    left: 0%;
    width: 35%;
    height: 33%;
    border-style: inset;
    border: 5px gray;
    border-radius: 15% 0% 0% 0%;
    background-color: #33cc33;
}

.bottomRightPlayArea {
    position: fixed;
    top: 33%;
    left: 35%;
    width: 35%;
    height: 33%;
    border-style: inset;
    border: 5px gray;
    border-radius: 15% 0%;
    background-color: #4dd2ff;
}

.playerHandArea {
    position: fixed;
    top: 66%;
    left: 0%;
    width: 48%;
    height: 33%;
    border-style: inset;
    border: 5px gray;
    border-radius: 0% 0% 15% 0%;
    background-color: #33cc33;
}

