body {
    width: 100%;
    height: 100%;
}

#sidebar {
    background-color: burlywood;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 25%;
    height: 100%;
}

iframe {
    position: fixed;
    border: black;
    width: 25%;
    height: 75vw;
}