body {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: none;
    color: forestgreen;
}

#optionsButton {
    position: fixed;
    left: 32%;
    top: 26%;
    width: 6%;
    height: 13%;
    z-index: 201;
}

#optionsOverlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none;*/ /* Hidden by default */
    width: 70%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#optionsOutline {
    position: fixed;
    width: 43%;
    height: 52%;
    left: 15%;
    top: 22%;
}

#viewInstructions {
    position: fixed;
    width: 20%;
    height: 20%;
    left: 15%;
    top: 34%;
    cursor: pointer;
}

#startNewGame {
    position: fixed;
    width: 20%;
    height: 20%;
    left: 35%;
    top: 34%;
    cursor: pointer;
}

#changeBackgroundButton {
    position: fixed;
    width: 20%;
    height: 20%;
    left: 15%;
    top: 54%;
    cursor: pointer;
}

#backToHomePage {
    position: fixed;
    width: 20%;
    height: 20%;
    left: 35%;
    top: 54%;
    cursor: pointer;
}

#instructionsOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 70%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 202; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */   
}

#instructionsSheet {
    position: fixed;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    white-space: pre-wrap;
    background-color: lightgreen;
    left: 25%;
    top: 0%;
    width: 50%;
    height: 100%;
    color: black;
    overflow-y: scroll;
}

#pc_game {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#gamePlane {
    position: fixed;
    z-index: 0;
}

#waitingPlane {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("dark-triangles.png");
}

#welcomeBlurb {
    position: fixed;
    left: 25%;
    top: 15%;
    width: 50%;
    text-align: justify;
}

#display_nameLabel {
    position: fixed;
    left: 40%;
    top: 30%;
}

#display_name {
    position: fixed;
    left: 48%;
    top: 30%;
}

#keywordLabel {
    position: fixed;
    left: 40%;
    top: 40%;
}

#keyword {
    position: fixed;
    left: 48%;
    top: 40%;
}

#enter {
    position: fixed;
    left: 37.5%;
    top: 50%;
    width: 25%;
}

#playPCBlurb {
    position: fixed;
    left: 35%;
    top: 75%;
    width: 30%;
    text-align: center;
}

#playPCButton {
    position: fixed;
    left: 37.5%;
    top: 85%;
    width: 25%;
}

#people {
    position: fixed;
    top: 10%;
    left: 37%;
    width: 26%;
    text-align: center;
}

#player1_wait {
    position: fixed;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 30%;
    background-color: white;
    color: black;
}

#player2_wait {
    position: fixed;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 50%;
    background-color: rgb(255, 211, 218);
    color: black;
}

#player3_wait {
    position: fixed;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 30%;
    background-color: rgb(212, 244, 255);
    color: black;
}

#player4_wait {
    position: fixed;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 50%;
    background-color: rgb(255, 255, 230);
    color: black;
}

#onlyHostCanStartBlurb {
    position: fixed;
    top: 70%;
    left: 34%;
    width: 32%;
    text-align: justify;
}

#startFromWaitingRoom {
    position: fixed;
    top: 80%;
    left: 37.5%;
    width: 25%;
}

#startPlane {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-size: 100% 100%;
    background-image: url("dark-triangles.png");
}

#sidebar {
    background-color: black;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 29%;
    height: 100%;
    padding-bottom: 75%;
}

#nonSidebar {
    background-size: 100% 100%;
    background-image: url("panelBackground.png");
    position: fixed;
    top: 0%;
    left: 0%;
    width: 71%;
    height: 100%;
}

iframe {
    position: relative;
    border: black;
    width: 95%;
    height: 25%;
    left: 2%;
    float: clear;
}

.iframeOverlay {
    position: fixed;
    width: 30%;
    height: 25%;
    left: 70%;
    top: 75%;
    opacity: 0;
}

.hidden {
    display: none;
}

.card {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: gray;
    width: 8%;
    height: 24%;
    border-radius: 15%;
    transition: 0.5s;
    /*cursor: pointer;*/ /* Add a pointer on hover */
}

div {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
}

.label {
    position: fixed;
    width: 34%;
    height: 4.5%;
    background-color: black;
    opacity: 0.5;
    border-radius: 30%;
}

#drawLabel {
    position: fixed;
    width: 8%;
    height: 4.5%;
    background-color: black;
    opacity: 0.5;
    border-radius: 30%;
    left: 51%;
    bottom: 27%;
    text-align: center;
}

#discardLabel {
    position: fixed;
    width: 8%;
    height: 4.5%;
    background-color: black;
    opacity: 0.5;
    border-radius: 30%;
    left: 60.5%;
    bottom: 27%;
    text-align: center;
}

.display_name {
    position: absolute;
    border: black;
    width: 45%;
    height: 100%;
    left: 10%;
    float: left;
}

.score {
    position: absolute;
    border: black;
    width: 45%;
    height: 100%;
    left: 55%;
}

.nonPlayerOverlay {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 34.5%;
    height: 31.5%;
    z-index: 200;
}

#overlayPlayer3 {
    left: 36%;
    top: 1%;
}

#overlayPlayer4 {
    left: 36%;
    top: 34%;
}

#bottomLeftPlayerLabel {
    top: 60%;
    left: 1%;
}

#topLeftPlayerLabel {
    top: 27%;
    left: 1%;
}

#topRightPlayerLabel {
    top: 27%;
    left: 36%;
}

#bottomRightPlayerLabel {
    top: 60%;
    left: 36%;
}

.topLeftPlayerDrive {
    top: 2%;
    left: 4%;
}

.topLeftPlayerSpeed {
    top: 2%;
    left: 14%;
}

.topLeftPlayerMiles {
    top: 2%;
    left: 24%;
}

.topRightPlayerDrive {
    top: 2%;
    left: 39%;
}

.topRightPlayerSpeed {
    top: 2%;
    left: 49%;
}

.topRightPlayerMiles {
    top: 2%;
    left: 59%;
}

.bottomLeftPlayerDrive {
    top: 35%;
    left: 4%;
}

.bottomLeftPlayerSpeed {
    top: 35%;
    left: 14%;
}

.bottomLeftPlayerMiles {
    top: 35%;
    left: 24%;
}

.bottomRightPlayerDrive {
    top: 35%;
    left: 39%;
}

.bottomRightPlayerSpeed {
    top: 35%;
    left: 49%;
}

.bottomRightPlayerMiles {
    top: 35%;
    left: 59%;
}

.playerHand1 {
    bottom: 2%;
    left: 2.5%;
}

.playerHand2 {
    bottom: 2%;
    left: 8.5%;
}

.playerHand3 {
    bottom: 2%;
    left: 14.5%;
}

.playerHand4 {
    bottom: 2%;
    left: 20.5%;
}

.playerHand5 {
    bottom: 2%;
    left: 26.5%;
}

.playerHand6 {
    bottom: 2%;
    left: 32.5%;
}

.playerHand7 {
    bottom: 2%;
    left: 38.5%;
}

.drawPile {
    bottom: 2%;
    left: 51%;
}

.discardPile {
    bottom: 2%;
    left: 60.5%;
}

.topLeftPlayerHand, .topRightPlayerHand, .bottomRightPlayerHand {
    display: none;
}

.topLeftPlayerHand {
    top: 2%;
    left: 1%;
}

.topRightPlayerHand {
    top: 2%;
    left: 36%;
}

.bottomRightPlayerHand {
    top: 35%;
    left: 36%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

p {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 0 auto;
}

button {
    /*border-color: white;
    border-radius: 15px;
    border-width: 2px;
    background-color: lightblue;
    width: 100%;*/
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: forestgreen;
    border-style: inset;
    border-radius: 10px;
    border-color: white;
    padding: 10px;

    display:table; 
    margin:0 auto;
    width: 25%;
}

.overlay {
    z-index: 105;
    color: white;
    opacity: 0;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.cardOutline {
    position: fixed;
    background-size: 100% 100%;
    width: 8%;
    height: 24%;
    border-radius: 15%;
    background-image: url("card_outline_white.png");
}

/* The flip card container - set the width and height to whatever you want. (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    position: fixed;
    z-index: inherit;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transition: -moz-transform 1s;
    transition: -webkit-transform 1s;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: inherit;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border: 3px solid white;
    border-radius: 15%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.hoverSim {
    transform: translate(0%, -19%); 
    -webkit-transform: translate(0%, -19%);
    -moz-transform: translate(0%, -19%); 
    box-shadow: 2px -6px 5px white;
}

.playerHand1:hover, .playerHand2:hover, .playerHand3:hover, .playerHand4:hover, .playerHand5:hover, .playerHand6:hover, .playerHand7:hover {
    transform: translate(0%, -19%);
    -webkit-transform: translate(0%, -19%);
    -moz-transform: translate(0%, -19%); 
    box-shadow: 2px -6px 5px white;    
}

/*Effects*/
.backlit {
    -webkit-animation: light 1s ease-in-out infinite alternate;
    -moz-animation: light 1s ease-in-out infinite alternate;
    animation: light 1s ease-in-out infinite alternate;
}

@-webkit-keyframes light {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
}

.backlitText {
    -webkit-animation: lightText 1s ease-in-out infinite alternate;
    -moz-animation: lightText 1s ease-in-out infinite alternate;
    animation: lightText 1s ease-in-out infinite alternate;
}

@-webkit-keyframes lightText {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}
