body {
    background-image: url("background.jpg");
    background-size: cover;
}

img {
    position:absolute;  
    width:100px; 
    height:100px;
}

.hidden {
    display: none;
}

#gamepiece {
    position:absolute;
    width:100px;
    height:100px;
    background-color: skyblue;
    border-radius: 50%;
    
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: ease-out;

    -webkit-animation: neonCircle 1s ease-in-out infinite alternate;
    -moz-animation: neonCircle 1s ease-in-out infinite alternate;
    animation: neonCircle 1s ease-in-out infinite alternate;
}

#gamepiece.changeGreen {
  background-color: green;
  transform: scale(1.2, 1.2);  
}

#gamepiece.changeRed {
  background-color: red;
  transform: scale(0.8, 0.8);
}

#youAreHere{
    position: absolute;
    font-size: 50px;
    color: #228DFF;
    font-family: Algerian;
    -webkit-animation: neonWords 1s ease-in-out infinite alternate;
    -moz-animation: neonWords 1s ease-in-out infinite alternate;
    animation: neonWords 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes neonWords {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }

  @-webkit-keyframes neonCircle {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }


  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

button {
    position: fixed;
    top: 8px;
    left: 618px;
    background-color: skyblue;
    font-weight: bold;
    font-size: 25px;
}

#instructionsVid {
    display: table;
    margin: 0 auto;
    width: 600px;
}

#touchOverlay {
    position: fixed; /* Sit on top of the page content */
    width: 600px; /* Full width (cover the whole page) */
    height: 400px; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Black background with opacity */
}