body {
    background-image: url("background.jpg");
}

img {
    position:absolute;  
    width:100px; 
    height:100px;
}

.hidden {
    display: none;
}

#gamepiece {
    background-color: skyblue;
    border-radius: 50%;
}