body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.card {
    position: fixed;
    width: 10%;
    height: 31%;
    border-radius: 20%;
    border: 4px solid white;
}

.drawPile {
    top: 12.5%;
    left: 5.5%;
}

.userTopRightCard {
    top: 12.5%;
    left: 19%;
}

.userMiddleLeftCard {
    top: 42.5%;
    left: 5.5%;
}

.userMiddleRightCard {
    top: 42.5%;
    left: 19%;
}

.userBottomLeftCard {
    top: 72.5%;
    left: 5.5%;
}

.userBottomRightCard {
    top: 72.5%;
    left: 19%;
}