body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.card {
    position: fixed;
    width: 8%;
    height: 25%;
    border-radius: 20%;
    border: 5px solid white;
}

.userTopLeftCard {
    top: 12.5%;
    left: 5.5%;
}

.userTopRightCard {
    top: 12.5%;
    left: 19%;
}

.userMiddleLeftCard {
    top: 40%;
    left: 5.5%;
}

.userMiddleRightCard {
    top: 40%;
    left: 19%;
}

.userBottomLeftCard {
    top: 67.5%;
    left: 5.5%;
}

.userBottomRightCard {
    top: 67.5%;
    left: 19%;
}