body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.card {
    position: fixed;
    width: 8%;
    height: 25%;
    border-radius: 20%;
    border: 5px solid white;
}

.userCards {
    top: 0%;
    left: 0%;
    width: 32.5%;
    background-color: rgb(255, 99, 71, 0.8);
}

.userTopLeftCard {
    top: 12.5%;
    left: 5.5%;
}

.userTopRightCard {
    top: 12.5%;
    left: 19%;
}

.userMiddleLeftCard {
    top: 42.5%;
    left: 5.5%;
}

.userMiddleRightCard {
    top: 42.5%;
    left: 19%;
}

.userBottomLeftCard {
    top: 72.5%;
    left: 5.5%;
}

.userBottomRightCard {
    top: 72.5%;
    left: 19%;
}