/*Info relevant across the page*/
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.card {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: gray;
    width: 10%;
    height: 31%;
    border-radius: 20%;
    transition: 0.5s;
}

button {
    position: fixed;
    border: 3px solid white;
    background-color: lightblue;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.overlay {
    z-index: 105;
    color: white;
    opacity: 0;
}

/*Info for the draw pile area*/
#drawPileArea {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 28%;
    height: 50%;
    z-index: -1;
    background-color:rgba(255, 99, 71, 0.8);
    border: 5px solid brown;
}

#newGame {
    top: 3%;
    left: 2%;
    width: 10%;
    height: 6%;
}

#instructions {
    top: 3%;
    left: 16%;
    width: 10%;
    height: 6%;
}

.drawPile {
    top: 16%;
    left: 1.5%;
    box-shadow: 6px 6px white;
}

.discardPile {
    top: 16%;
    left: 16%;
}

/*Info for the PC's play area*/
#PCPlayArea {
    position: fixed;
    top: 0%;
    left: 28%;
    width: 72%;
    height: 50%;
    z-index: -1;
    background-color:rgba(60, 179, 113, 0.8);
    border: 5px solid rgb(4, 105, 67);
}

#PCheading {
    position: fixed;
    top: 0%;
    left: 32%;
    font-size: 30px;
    font-weight: bold;
    padding: none;
}

.PCCard1 {
    top: 16%;
    left: 32%;
}

.PCCard2 {
    top: 16%;
    left: 35%;
}

.PCCard3 {
    top: 16%;
    left: 38%;
}

.PCCard4 {
    top: 16%;
    left: 41%;
}

.PCCard5 {
    top: 16%;
    left: 44%;
}

.PCCard6 {
    top: 16%;
    left: 47%;
}

.PCCard7 {
    top: 16%;
    left: 50%;
}

.PCDrive {
    top: 16%;
    left: 64%;
}

.PCSpeed {
    top: 16%;
    left: 76%;
}

.PCMiles {
    top: 16%;
    left: 88%;
}

#PCScore {
    position: fixed;
    top: 3%;
    left: 80%;
    font-size: 30px;
    font-weight: bold;
}

/*Info for the User's play area*/
#UserPlayArea {
    position: fixed;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-color:rgba(106, 90, 205, 0.8);
}

#Userheading {
    position: fixed;
    top: 50%;
    left: 2%;
    font-size: 30px;
    font-weight: bold;
    padding: none;
}

.UserCard1 {
    top: 66%;
    left: 2%;
    transition: 0.5s;
}

.UserCard2 {
    top: 66%;
    left: 10%;
    transition: 0.5s;
}

.UserCard3 {
    top: 66%;
    left: 18%;
    transition: 0.5s;
}

.UserCard4 {
    top: 66%;
    left: 26%;
    transition: 0.5s;
}

.UserCard5 {
    top: 66%;
    left: 34%;
    transition: 0.5s;
}

.UserCard6 {
    top: 66%;
    left: 42%;
    transition: 0.5s;
}

.UserCard7 {
    top: 66%;
    left: 50%;
    transition: 0.5s;
}

.UserDrive {
    top: 66%;
    left: 64%;
}

.UserSpeed {
    top: 66%;
    left: 76%;
}

.UserMiles {
    top: 66%;
    left: 88%;
}

#UserScore {
    position: fixed;
    top: 53%;
    left: 80%;
    font-size: 30px;
    font-weight: bold;
}

/*Effects*/
.backlit {
    -webkit-animation: light 1s ease-in-out infinite alternate;
    -moz-animation: light 1s ease-in-out infinite alternate;
    animation: light 1s ease-in-out infinite alternate;
}

@-webkit-keyframes light {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}

.backlitText {
    -webkit-animation: lightText 1s ease-in-out infinite alternate;
    -moz-animation: lightText 1s ease-in-out infinite alternate;
    animation: lightText 1s ease-in-out infinite alternate;
}

@-webkit-keyframes lightText {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}

.winbanner {
    position: fixed;
    top: 15%;
    left: 27%;
    font-size: 100px; 
    transform: scale(0);
    font-family: 'Sigmar One', cursive;
    color: gold;
    transition: 1s;
}

.lossbanner {
    position: fixed;
    top: 15%;
    left: 27%;
    font-size: 100px; 
    transform: scale(0);
    font-family: 'Sigmar One', cursive;
    color: rgb(50, 50, 184);
    transition: 1s;
}

.winner {
    transform: scale(1);
    z-index: 201;
}

#endGameOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlayContinue {
    position: fixed;
    top: 60%;
    left: 52%;
    width: 10%;
    height: 5%;
}

#overlayNewGame {
    position: fixed;
    top: 60%;
    left: 38%;
    width:10%;
    height: 5%;
}

.winslosses {
    position: fixed;
    top: 10%;
    left: 40%;
    width: 20%;
    height: 7%;
    color: white;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

#instructionsOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */   
}

#instructionsSheet {
    position: fixed;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    white-space: pre-wrap;
    background-color: lightgreen;
    left: 25%;
    top: 0%;
    width: 50%;
    height: 100%;
    color: black;
}

.hoverSim {
    transform: translate(0%, -13%); 
    box-shadow: 2px -6px 5px white;
}

.UserCard1:hover, .UserCard2:hover, .UserCard3:hover, .UserCard4:hover, .UserCard5:hover, .UserCard6:hover, .UserCard7:hover {
    transform: translate(0%, -13%); 
    box-shadow: 2px -6px 5px white;    
}

.flip {
    transform: rotateY(180deg);
}

.drawPileBackLit {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
    from {
        background-color: #FF1177;
    }
    to {
        background-color: rgb(182, 5, 81);
    }
}



/* The flip card container - set the width and height to whatever you want. (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    position: fixed;
    z-index: inherit;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    z-index: inherit;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 3px solid white;
    border-radius: 20%;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    transform: rotateY(180deg);
  }
  
  /* Style the back side */
  /*.flip-card-back {
    
  }*/