body {
    background-image: url(fruit.jpg);
}

.centered {
    display:table; 
    margin:0 auto;
    text-align: center;
}

div {
    width: 50%;
}

button {
    width: 100%;
}

#waldo {
    background-color: aquamarine;
}

#banana {
    background-color: yellow;
}

#cherry {
    background-color: red;
}

#grape {
    background-color: purple;
}

#kiwi {
    background-color: green;
}

#orange {
    background-color: orange;
}

#blueberry {
    background-color: blue;
}