body {
    background-image: url('dark-triangles.png');
    color: white;
}

.centered {
    display:table; 
    margin:0 auto;
}

td {
    width: 25%;
}

img {
    width: auto;
}

button {
    width: 100%;
}