body {
    background-image: url('dark-triangles.png');
    color: white;
}

.centered {
    display:table; 
    margin:0 auto;
}

.col1, .col2, .col3, .col4 {
    width: 25%;
}

img {
    display: block;
    width: 100%;
}

button {
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
}

table, td, tr {
    border-color: gray;
    border-width: thick;
    border: 3px solid gray;
}

#cartImage {
    display: block;
    width: 15%;
    display:table; 
    margin:0 auto;
}

#viewCartButton {
    text-decoration: none;
    color: white;
    background-color: forestgreen;
    border-style: inset;
    border-radius: 10px;
    border-color: white;
    padding: 10px;

    display:table; 
    margin:0 auto;
}