body {
    background-image: url('dark-triangles.png');
    color: white;
}

.centered {
    display:table; 
    margin:0 auto;
}

#col1, #col2, #col3, #col4 {
    width: 25%;
}

img {
    width: auto;
}

button {
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
}