body {
    background-image: url('dark-triangles.png');
    color: white;
}

.centered {
    display:table; 
    margin:0 auto;
}

.col1, .col2, .col3, .col4 {
    width: 25%;
}

img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

button {
    border-color: white;
    border-radius: 15px;
    border-width: 2px;
    background-color: lightblue;
    width: 100%;
}

hr {
    color: white;
}

#cartImage {
    float: left;
}

#cartDiv {
    position: fixed;
    width: 30%;
    top: 0%;
    left: 70%;
    background-color: white;
    border-radius: 15px;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 3% 5% 3% 5%;
}

#cartImage {
    display: block;
    width: 15%;
    display:table; 
    margin:0 auto;
}

#viewCartButton, #returnToShopping, #proceedToCheckout {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: forestgreen;
    border-style: inset;
    border-radius: 10px;
    border-color: white;
    padding: 10px;

    display:table; 
    margin:0 auto;
    width: 25%;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}