body {
    background-image: url("blue-canvas-background.jpg");
    color: white;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 5px solid white;
}

table, th, tr, td {
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    text-align: left;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

#title {
    top: 1%;
}

#date {
    top: 3%;
}

#registerHereSection {
    top: 15%;
}

#tableOfClassesSection {
    top: 40%;
    width: 50%;
}