body {
    background-image: url("family-circle.jpg");
    color: black;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 5px solid white;
}

table, th, tr, td {
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    text-align: left;
}

h1 {
    padding: 0px;
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

#title {
    top: 2%;
}

#date {
    top: 5%;
}

#registerHereSection {
    top: 18%;
}

#tableOfClassesSection {
    top: 40%;
    width: 50%;
}

#timeCol {
    width: 12%;
}

#topicCol {
    width: 24%;
}

#teacherCol {
    width: 20%;
}

#zoomCol {
    width: 22%;
}

#additionalCol {
    width: 22%;
}

#opaqueContentBox {
    position: absolute;
    width: 58%;
    top: 0%;
    height: 150%;
    background-color: beige;
    opacity: 0.5;
    z-index: -1;
}