body {
    position: absolute;
    background-color: #003300;
    background-image: url("family-circle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 100%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 5px solid white;
    word-wrap: break-word;
}

table, th, tr, td {
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    text-align: left;
}

h1 {
    margin-top: 0;
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

#title {
    top: 2%;
}

#date {
    top: 6%;
}

#registerHereSection {
    top: 18%;
}

#tableOfClassesSection {
    top: 40%;
    width: 63%;
}

#checkboxCol {
    width: 3%;
}

#timeCol {
    width: 12%;
}

#topicCol {
    width: 24%;
}

#teacherCol {
    width: 20%;
}

#zoomCol {
    width: 22%;
}

#additionalCol {
    width: 22%;
}

#opaqueContentBox {
    position: absolute;
    width: 68%;
    top: 0%;
    height: 150%;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
}

#registerPopupSection {
    background-color: #003300;
    position: absolute;
    position: sticky;
    transform: translate(0%, -70%);
    left: 18%;
    width: 64%;
    height: 36%;
    color: white;
    z-index: 2;
}

input {
    margin-top: 0;
}

.registrationCol {
    /*visibility: collapse;*/
    display: none;
}

.hidden {
    display: none;
}

#x {
    position: absolute;
    padding: 0px;
    top: 0%;
    right: 0%;
    width: 5%;
}

#x:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

form {
    width: 100%;
    height: 100%;
}