body {
    background-image: url("blue-canvas-background.jpg");
    color: white;
    font-size: 30px;
    position: fixed;
    height: 100%;
    width: 100%;
}

.centered {
    /*position: absolute;*/
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

table th tr td {
    border: 1px solid white;
    padding: 25px 25px 25px 25px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

#title {
    top: 7%;
}

#date {
    top: 11%;
}

#registerHereSection {
    top: 20%;
}

#tableOfClassesSection {
    top: 35%;
}