body {
    background-image: url("blue-canvas-background.jpg");
    color: white;
    font-size: 15px;
    position: fixed;
    height: 100%;
    width: 100%;
}

.centered {
    /*position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);*/
    text-align: center;
}

table {
    border: 1px solid white;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

#title {
    top: 10%;
}

#date {
    top: 17%;
}

#registerHereSection {
    top: 30%;
}

#tableOfClassesSection {
    top: 45%;
}